.navbar-toggler {
    padding: 0 !important;
    font-size: 1.25rem;
    line-height: 2;
    background-color: white;
    border: none !important;
    position: fixed;
  }
  
.logo{
    background-color: var(--primaryColor);
}

.links{
    margin-left: 35%;
}

.nav-background{
    background-color: white;
}
  